doctype html
html
    head
        title Bandcamp Downloader
        link(rel='stylesheet', href='/public/style.css')
    body
        h1 Bandcamp Downloader
        div(id="explain")
            | Download started, check
            a(href="/files")  Files page
            |  in some minutes